@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Program łączący się do skrzynki Office 365, który pobiera podstawowe informacje o użytkowniku skrzynki pocztowej </a>.</p>
</div>

<div><b>Dane zalogowanego użytkownika:</b></div>

<div>Nazwa: @ViewData["Nazwa"]</div>
<div>Imie: @ViewData["Imie"]</div>
<div>Nazwisko: @ViewData["Nazwisko"]</div>
<div>Adres e-mail: @ViewData["Mail"]</div>
<div>Stanowisko: @ViewData["Stanowisko"]</div>
<div>Adres firmy: @ViewData["Adres"]</div>



